* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Main Layout */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    min-height: 100vh;
}

.header {
    background-color: #fff;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

.sidebar {
    background-color: #1992d4;
    color: #fff;
    font-weight: 700;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 6fr;
    align-content: start;
    padding: 0 1em;
    gap: 1.5em;
}

.sidebar li, 
.logo {
    display: grid;
    grid-template-columns: 25px 1fr;
    justify-items: start;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
}

.sidebar li {
    margin-block-end: 0.75em;
}

.sidebar li:hover {
    color: lightblue;
}

.sidebar li img {
    max-width: 20px;
}

.logo img {
    max-width: 25px;
}

.logo h1 {
    font-size: 1.5rem;
}

.main {
    background-color: #e2e8f0;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}