*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

a,
li,
ul {
    padding: 0;
    list-style: none;
    text-decoration: inherit;
    color: inherit;
}

.svg {
    width: 20px;
}

/* Main layout */

.grid-container {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
        "sb hd"
        "sb mn";
}

header {
    background-color: #fff;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

aside {
    background-color: #1992d4;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

main {
    background-color: #e2e8f0;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}

/* Sidebar Section */

aside {
    color: #fff;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto;
    gap: 25px;
    padding: 15px;
    align-items: flex-start;
}

.dashboard-title {
    align-self: center;
}

nav {
    display: grid;
    gap: 40px;
    width: 95%;
    margin: 0 auto;
}

.nav-menu,
.settings-menu {
    display: grid;
    align-items: center;
    align-content: flex-start;
    gap: 20px;
}

nav li,
aside span {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

aside span {
    gap: 10px;
}

.dashboard-icon {
    width: 35px;
}